*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
}
header{
    width: 100%;
    padding: 20px 0;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
}
main{
    min-height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
section form{
    display: flex;
    flex-direction: column;
}
div.error > p{
    color: #f00;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}
form h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
form label{
    font-size: 18px;
    color: #666;
    margin-bottom: 5px;
}
form input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
form button{
    width: 100%;
    height: 40px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
form button:hover{
    background: #444;
}
form p{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    color: #666;
}
form p a{
    color: #333;
    text-decoration: none;
}